@font-face {
    font-family: 'MaruBuri';
    src: url('MaruBuri-Light.woff2') format('woff2'),
        url('MaruBuri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

